.title{
    color:deeppink;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
.paragraph{
    color: rgb(21, 5, 39);
    font-size: 1em;
}
.container{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
    text-align: center;
    border-radius: .5em;
    margin: 1em auto;
    padding: .5em;
    width: 80vw;
}