body, h2{
    margin: 0;
    padding: 0;
}
.header{
    background-color: deepskyblue;
    color: white;
    border-radius: 0 0 .5em .5em;
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
    display: flex;
}
.title{
    color:deeppink;
    font-size: 2em;
}
.paragraph{
    color: rgb(21, 5, 39);
    font-size: 1em;
}
.container{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
    text-align: center;
    border-radius: .5em;
    margin: 1em auto;
    padding: .5em;
    width: 80vw;
}
.menu_main{
    display: inherit;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.menu_ol{
    display: inherit;
}
.menu_li{
    list-style: none;
}
.menu_link{
    font-size: 1.5em;
    text-decoration: none;
    padding: .5em 1em;
    transition: .8s;
}
.menu_link:hover{
    background-color: #311a8b;
    color: deepskyblue;
    text-align: center;
    border-radius: .5em;
}
.conainer_image{
    padding: 1em;
}
.image{
    border-radius: 1em;
    border-radius: 2.5em;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
}
.footer{
    background-color: deeppink;
    display: flex;
}
.footer_redes{
    display: inherit;
    justify-content: space-evenly;
    width: 100%;
}
.footer_li, .footer_link{
    transition: .5s;
}
.footer_li{   
    border-radius: .5em;
    padding: .5em;
    list-style: none;
}
.footer_link{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}
.footer_li:hover, .footer_link:hover{
    background-color: white;
    color: deeppink;
}